*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100vw;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5vw;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item{
    width: 100% ;
    background-color: pink;
}

.form-add{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
