.card{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 6px;
    background-color: aliceblue;
}

.faCard{
    margin: 10px 0;
}
.star{
    color: rgb(255, 208, 0);
    font-size: 20px;
}
.buyNow{
    background-color: rgb(241, 43, 43);
    color: #ffff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all .3s;
}

.buyNow:hover {
    background-color: rgb(107, 12, 12);
}

.price{
    color: red;
    font-weight: bold;
}

.review{
    border: none;
    background-color: transparent;
    cursor: pointer;
}